<h1>Time to choose Your Next Character!</h1>
<p> Greetings adventurer, it's time to roll initiative! Well...not yet, you need a character first! </p>
<p> This website is perfect for you if you're having a difficult time creating a character! We've got races and classes to view for inspiration, character sheets uploaded by your fellow users, and you can even favourite them for easy access later.</p>
<p>Sign up today and begin your journey with Your Next Character!</p>