<h1>Classes</h1>

<div class="cards">
<% @class_order.each do |c| %>
    <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <div class="card-body">
            <h4 class="card-title"><%= c.charclass_name %></h4>
            <p class="card-text"><%= truncate(c.description, :length => 80) %></p>
            <%= link_to 'More info', character_class_path(c.id), class: 'btn btn-primary'%>
        </div>
    </div>
<% end %>
</div>