<h1>Characters</h1>

<% @sheets.each do |sheet| %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title"><%= link_to sheet.name, character_sheet_path(sheet.id)%></h2>
            <br>
            <h4> Description </h4>
            <p class="card-text"><%= truncate(sheet.description, :length => 80) %></p>
            <h4> Level </h4>
            <p><%= sheet.level %></p>
            <br>
        </div>
    </div>
<% end %>